$black = #333
$dark-gray = #666
$gray = #999
$light-gray = #ccc
$white-smoke = #f5f5f5
$white = #fff

body
  color $black
  font-size 100%
  line-height 1.4

#app
  width 960px
  margin 0 auto

button
input
  border 1px solid $black
  font-size 100%
  padding 4px 8px
  margin 4px
  border-radius 4px

button
  cursor pointer
  color $black
  background-color $light-gray
  &:hover
    transition background-color 0.8s
    background-color $white-smoke

nav
  ul
    padding 0
    margin 0
    width 100%
    display flex
    justify-content space-between
    list-style-type none
  li
    background-color $light-gray
    flex auto
    text-align center
    border 1px solid $black
    border-top-right-radius 4px
    border-top-left-radius 4px
    &:first-child
      border-right none
    &:hover
      transition background-color 0.8s
      background-color $white-smoke
    &.active
      box-shadow none
      border-bottom none
      background-color $white
      cursor default
      a
        color $black
  a
    padding 4px
    display block
    text-decoration none

#settings
#issues
  border-right 1px solid $black
  border-bottom 1px solid $black
  border-left 1px solid $black
  padding 16px
  h1
    margin 0
    padding 8px 16px
    font-size 100%

.repo-list
  padding 0
  list-style-type none
