$black = #333

body
  color $black
  font-size 100%
  line-height 1.4

button
input
  border 1px solid $black
  font-size 100%
  padding 4px 8px
  margin 4px
  border-radius 4px

#settings
#issues
  h1
    font-size 100%
